<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Login</title>

    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/Poppins.css">
    <link rel="stylesheet" href="/static/css/auth.css">

    <!-- <script src="./scripts/Users.js"></script> -->
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/login" method="post">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="42345355345345" id="uuid_v4" name="uuid_v4">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <button type="submit" class="btn submit">Log In</button>

        <div class="row register">
          <a class="btn register" href="/register">
            <i class="fas fa-user-plus" aria-hidden="true"></i>
            <span>Sign up</span>
          </a>
        </div>

    </form>
</body>
</html>
