<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Register</title>

    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/Poppins.css">
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="RegisterForm">
        <h3>Register Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="User" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <label for="confirm-password">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="confirm-password" name="confirm-password">

        <button type="submit" class="btn submit">Register</button>

        <div class="row login">
          <a class="btn login" href="/login">
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
            <span>Log in</span>
          </a>
        </div>

    </form>
</body>
</html>
